#virtual environment
myenv

#backend
Backend/Backend/__pycache__

#users
Backend/users/__pycache__
Backend/users/migrations

#inventory
Backend/inventory/__pycache__
Backend/inventory/migrations

#databse
Backend/db.sqlite3

#node packages
node_modules
package-lock.json
package.json