.about-us-container {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.about-us-container .intro {
  font-size: 1.2rem;
  color: #98f436;
  margin-bottom: 2rem;
}

.about-us-container h1 {
  color: #98f436;
}

.card-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.feature-card {
  background-color: #98f436;
  color: white;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card .icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .about-us-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .about-us-container .intro {
    font-size: 1rem;
    color: #98f436;
    /* margin-bottom: 2rem; */
  }

  .about-us-container h1 {
    color: #98f436;
    font-size: 20px;
  }

  .card-grid {
    display: flex;
    flex-direction: column;
  }
}