.contactPage {
  width: 100%;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPage .intro {
  font-size: 1.2rem;
  color: #01e7fc;
  margin-bottom: 2rem;
}

.contactPage h1 {
  color: #01e7fc;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
  background-color: #01e7fc;
  color: white;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.contactItem a {
  color: #0077b6;
  text-decoration: none;
  margin-left: 0.5rem;
}

.contactItem a:hover {
  text-decoration: underline;
}

.socialLinks {
  display: flex;
  flex-direction: column;
}

.socialLinks a {
  margin-top: 0.5rem;
}
