.reviewsPage {
  width: 100%;
  padding: 2rem;
  background-color: #01e7fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
}

h1 {
  color: white;
}

.reviewsTitle {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.reviewCards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewCard {
  width: 300px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reviewCard h3 {
  margin-bottom: 0.5rem;
}

.reviewCard p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.reviewCard span {
  font-style: italic;
  color: #666;
}
