.welcomePage {
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;         
  background-color: #98f436;
  width: 100%;
}

.heading h1 {
    color: white;
    font-size: bold;
    font-size: 40px;
    font-family: sans-serif;
}

.welcome {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.side1 {
  height: 500px;
  width: 700px;
  border: 2px solid #98f436;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media (max-width: 900px) {
  .welcomePage {
    display: flex;
    flex-direction: column;
    height: 700px;;
  }

  .heading h1{
    font-size: 20px;
  }

  .welcome {
    width: auto;
    height: auto;
  }

  .side1 {
    width: auto;
    height: auto;
  }
}