.welcomeNav {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.items ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #98f436;
  margin-right: auto;
}

.items li:not(.logo) {
  margin-left: 2rem;
}

.items a {
  text-decoration: none;
  color: #98f436;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.items a:hover {
  color: #98f436;
}

@media (max-width: 900px) {
  .welcomeNav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .items ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .items li {
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
  }

  .logo {
    margin-bottom: 1rem;
  }
}
